<body>
    <div class="wrapper">
        <aside id="sidebar">
            <!--content for sidebar   -->
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="/dashboard-user">AgroRent</a>
                </div>

                <ul class="sidebar-nav">

                    <li class="sidebar-item">
                        <a routerLink="/dashboard-user" class="sidebar-link">
                            <i class="fa-solid fa-house pe-2"></i>
                            Home
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <!-- <a routerLink="machinery-info/:id" class="sidebar-link"> -->
                        <a routerLink="catalogo" class="sidebar-link" (click)="enviarInfoUser()">
                            <!-- "machinery-info/:id" -->

                            <i class="fa-solid fa-users pe-2"></i>
                            Catalogo
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <!-- <a routerLink="maquinarias" class="sidebar-link"> 
                            <i class="fa-solid fa-train-subway pe-2"></i>
                            Maquinarias
                        </a>-->


                        <a class="sidebar-link collapsed" data-bs-target="#maquinaria" data-bs-toggle="collapse"
                            aria-expanded="false">
                            <i class="fa-solid fa-train-subway pe-2"></i>
                            Maquinaria
                        </a>

                        <ul id="maquinaria" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            <li class="sidebar-item">
                                <a routerLink="registro-maquinaria" class="sidebar-link">Registro</a>
                            </li>

                            <li class="sidebar-item">
                                <a routerLink="inventario" class="sidebar-link">Inventario</a> <!-- inve-->
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <!-- <a routerLink="maquinarias" class="sidebar-link"> 
                            <i class="fa-solid fa-train-subway pe-2"></i>
                            Maquinarias
                        </a>-->


                        <a class="sidebar-link collapsed" data-bs-target="#reservas" data-bs-toggle="collapse"
                            aria-expanded="false">
                            <i class="fa-solid fa-list-check pe-2"></i>
                            Reservas
                        </a>

                        <ul id="reservas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">

                            <li class="sidebar-item">
                                <a routerLink="registro-maquinaria" class="sidebar-link">Mis solicitudes</a>
                            </li>

                            <li class="sidebar-item">
                                <a routerLink="inventario" class="sidebar-link">Ofertas de alquiler</a> <!-- inve-->
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </aside>


        <!-- contenido  -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom custom-nav">

                <button type="button" class="btn" id="menu-lateral-aparicion">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-icon pe-md-0" data-bs-toggle="dropdown">
                                <img [src]="'/assets/image/Ima pruega de registros/usuarios/' + getUser().imagen"
                                    class="user img-fluid rounded" alt="imagen de usuario">
                                {{ getUser().nombre_usuario}}
                            </a>

                            <div class="dropdown-menu dropdown-menu-end">

                                <a href="/prueba" class="dropdown-item">
                                    ¡Hola, {{ getUser().nombre_usuario}} {{ getUser().apellido_usuario}}!
                                </a>
                                <a routerLink="registro-maquinaria" class="dropdown-item"> <i
                                        class="fa-solid fa-gear pe-2"></i>configuraciones</a>
                                <a routerLink="/login" class="dropdown-item" (click)="Sign_off()"> <i
                                        class="fa-solid fa-right-from-bracket pe-2"></i>cerrar sesión</a>
                            </div>


                        </li>
                    </ul>
                </div>
            </nav>



            <div class=" mt-5 mx-5">
                <router-outlet></router-outlet>
            </div>

        </div>


    </div>
</body>