body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}


a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/*diseño de esqueleto panel adbmi dasboar*/
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}



#sidebar{
    max-width: 264px;
    min-width: 264px;
    background: #45a26b;
    transition: all 0.35s  ease-in-out;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s  ease-in-out;
    width: 100%;
    background: var(--bs-dark-bg-subtle);
}

/* sedebar elementos estylo */ 
.sidebar-logo{
    padding: 1.15rem;
}
.sidebar-logo a{
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}


.sidebar-nav{   /*personaliza la lista */
    flex-grow: 1;
    list-style: none;
    margin-bottom:0 ;
    padding-left:0 ;
    margin-left: 0;
}

.sidebar-header{
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link{
    padding: .625rem 1.625rem;;
    color:#e9ecef;
    position: relative;
    display: block; /*  elemto de bloeue líneas separadas*/
    font-size: 0.875rem;
}


//flecha icono que cambia sube y baja
.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out ;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed:after{
    transform: rotate(45deg);
    transition: al
    l .2s ease-out;
}

.user{
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

#sidebar.collapsed{
    margin-left: -264px;
}