<body>

    <div class="wrapper fadeInDown">
        <div class="container main ">
            <div class="row custom-row">
                <div class="col-md-6 image">
                </div>

                <div class="col-md-6 right">
                    <div class="input-box">
                        <h1>AgroRent</h1>
                        <div class="input-field">
                            <input type="text" class="input" id="username" required="" autocomplete="off">
                            <label for="username">Usuario</label>
                        </div>
                        <div class="input-field">

                            <input type="password" class="input" id="password" required="">
                            <label for="password">Contraseña</label>
                        </div>

                        <div class="input-field">
                            <input type="submit" class="submit" routerLink="/home" value="iniciar sesión">
                        </div>
                        <div class="signin">
                            <span> <a routerLink="/signIn">¿olvidaste tu contraseña? </a></span><br> <br>
                            <!-- <span>¿No tienes una cuenta?  <a routerLink="/signIn">Registrate </a></span> -->
                            <span>¿No tienes una cuenta? <a href="#" data-bs-toggle="modal"
                                    data-bs-target="#registrar-usuario">Regístrate</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL -->

    <div class="modal fade" id="registrar-usuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="Registro-usuario" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="registro-usuario">Registro Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">

                    <form [formGroup]="formRegiUser" id="frmRcursoOne"  (submit)="onSubmit()">
                        <fieldset>
                            <div class="row">
                                <div class="col-6 mb-4">
                                    <!-- <label for="nombre" class="form-label">Nombre</label> -->
                                    <input type="text" id="nombre" formControlName="nombre" class="form-control"
                                        placeholder="Nombre">
    
                                    <div class="alert alert-danger"
                                        *ngIf="formRegiUser.controls['nombre'].invalid && formRegiUser.controls['nombre'].touched">
                                        <div *ngIf="formRegiUser.controls['nombre'].errors?.['required']">El nombre es
                                            obligatoio </div>
                                        <div *ngIf="formRegiUser.controls['nombre'].errors?.['pattern']">No se aceptan numeros
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-6 mb-4">
                                    <!-- <label for="apellido" class="form-label">Apellido</label> -->
                                    <input type="text" id="apellido" formControlName="apellido" class="form-control"
                                        placeholder="Apellido">
                                    <div class="alert alert-danger"
                                        *ngIf="formRegiUser.controls['apellido'].invalid && formRegiUser.controls['apellido'].touched">
                                        <div *ngIf="formRegiUser.controls['apellido'].errors?.['required']">El apellido es
                                            obligatoio </div>
                                        <div *ngIf="formRegiUser.controls['apellido'].errors?.['pattern']">No se aceptan numeros
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-4">
                                    <!-- <label for="tipo_documento" class="form-label">Tipo de Documento</label> -->
                                    <select id="tipo_documento" formControlName="tipo_documento" class="form-select">
                                        <option value="" disabled selected>Tipo de Documento</option>
                                        <option value="CC">Cédula de Ciudadanía</option>
                                        <option value="CE">Cédula de Extranjería</option>
                                    </select>
                                    <div class="alert alert-danger"
                                        *ngIf="formRegiUser.controls['tipo_documento'].invalid && formRegiUser.controls['tipo_documento'].touched">
                                        <div *ngIf="formRegiUser.controls['tipo_documento'].errors?.['required']">campo
                                            obligatoio </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-4">
                                    <!-- <label for="numero_documento" class="form-label">Numero de Docuemento</label> -->
                                    <input type="text" formControlName="numero_documento" id="numero_documento"
                                        class="form-control" placeholder="Numero de Docuemento">
    
                                    <div class="alert alert-danger"
                                        *ngIf="formRegiUser.controls['numero_documento'].invalid && formRegiUser.controls['numero_documento'].touched">
                                        <div *ngIf="formRegiUser.controls['numero_documento'].errors?.['required']">campo
                                            obligatorio</div>
                                    </div>
                                </div>

                                <div class="mb-12 mb-4">
                                    <!-- <label for="number-movil" class="form-label">Numero de celular</label> -->
                                    <input type="text" id="number-movil" formControlName="numero_celular"
                                        class="form-control" placeholder="Numero de celular">
    
                                    <div class="alert alert-danger"
                                        *ngIf="formRegiUser.controls['numero_celular'].invalid && formRegiUser.controls['numero_celular'].touched">
                                        <div *ngIf="formRegiUser.controls['numero_celular'].errors?.['required']">campo
                                            obligatorio</div>
                                    </div>
                                </div>

                                <div class="mb-12 mb-4">
                                    <!-- <label for="Email" class="form-label">Correo Electronico</label> -->
                                    <input type="text" id="email" formControlName="correo_electronico" class="form-control"
                                        placeholder="Correo Electronico">
    
                                    <div class="alert alert-danger"
                                        *ngIf="formRegiUser.controls['nombre'].invalid && formRegiUser.controls['correo_electronico'].touched">
                                        <div *ngIf="formRegiUser.controls['correo_electronico'].errors?.['required']">campo
                                            obligatorio </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    {{formRegiUser.status}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                    <button type="submit" form="frmRcursoOne" class="btn btn-success" [disabled]="!formRegiUser.valid">Registrate </button>
                  </div>
            </div>
        </div>
    </div>




</body>