<body>

    <div class="wrapper fadeInDown">
        <div class="container main">
            <div class="row">

                <div class="col-md-6 image">
                </div>
                
                <div class="col-md-6 right">
                    <div class="input-box">
                        <h1>AgroRent</h1>
                        <div class="input-field">
                            <input type="text" class="input" id="username" required="" autocomplete="off">
                            <label for="username">Usuario</label>
                        </div>
                        <div class="input-field">

                            <input type="password" class="input" id="password" required="">
                            <label for="password">Contraseña</label>
                        </div>

                        <div class="input-field">
                            <input type="submit" class="submit" value="iniciar sesión">
                        </div>
                        <div class="signin">
                            <span> <a href="#">¿olvidaste tu contraseña? </a></span><br> <br>
                            <!-- <span>¿No tienes una cuenta?  <a routerLink="/signIn">Registrate </a></span> -->
                            <span>¿No tienes una cuenta? <a href="#" data-bs-toggle="modal"
                                    data-bs-target="#registrar-usuario">Regístrate</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- MODAL -->

    <div class="modal fade" id="registrar-usuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="Registro-usuario" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="registro-usuario">Registro Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">
                    <form>
                        <fieldset>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" id="nombre" formControlName="nombre" class="form-control"
                                    placeholder="Disabled input">

                                <div class="alert alert-danger"
                                    *ngIf="fmRcurso.controls['nombre'].invalid && fmRcurso.controls['nombre'].touched">
                                    <div *ngIf="fmRcurso.controls['nombre'].errors?.['required']">El nombre es
                                        obligatoio </div>
                                    <div *ngIf="fmRcurso.controls['nombre'].errors?.['pattern']">No se aceptan numeros
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" id="apellido" formControlName="apellido" class="form-control"
                                    placeholder="Disabled input">
                                <div class="alert alert-danger"
                                    *ngIf="fmRcurso.controls['apellido'].invalid && fmRcurso.controls['apellido'].touched">
                                    <div *ngIf="fmRcurso.controls['apellido'].errors?.['required']">El apellido es
                                        obligatoio </div>
                                    <div *ngIf="fmRcurso.controls['apellido'].errors?.['pattern']">No se aceptan numeros
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="tipo_documento" class="form-label">Tipo de Documento</label>
                                <select id="tipo_documento" formControlName="tipo_documento" class="form-select">
                                    <option value="CC">Cédula de Ciudadanía</option>
                                    <option value="TI">Tarjeta de Identidad</option>
                                    <option value="CE">Cédula de Extranjería</option>
                                </select>
                                <div class="alert alert-danger"
                                    *ngIf="fmRcurso.controls['tipo_documento'].invalid && fmRcurso.controls['tipo_documento'].touched">
                                    <div *ngIf="fmRcurso.controls['tipo_documento'].errors?.['required']">campo
                                        obligatoio </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="numero_documento" class="form-label">Numero de Docuemento</label>
                                <input type="text" formControlName="numero_documento" id="numero_documento"
                                    class="form-control" placeholder="Disabled input">

                                <div class="alert alert-danger"
                                    *ngIf="fmRcurso.controls['numero_documento'].invalid && fmRcurso.controls['numero_documento'].touched">
                                    <div *ngIf="fmRcurso.controls['numero_documento'].errors?.['required']">Campo
                                        obligatorio</div>
                                </div>

                            </div>


  

                            <div class="mb-3">
                                <label for="number-movil" class="form-label">Numero de celular</label>
                                <input type="text" id="number-movil" formControlName="number-movil" class="form-control"
                                    placeholder="Disabled input">

                                <div class="alert alert-danger"
                                    *ngIf="fmRcurso.controls['nombre'].invalid && fmRcurso.controls['nombre'].touched">
                                    <div *ngIf="fmRcurso.controls['nombre'].errors?.['required']">El nombre es
                                        obligatoio </div>
                                    <div *ngIf="fmRcurso.controls['nombre'].errors?.['pattern']">No se aceptan numeros
                                    </div>
                                </div>
                            </div>

<!--
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Correo Electronico</label>
                                <input type="text" id="nombre" formControlName="nombre" class="form-control"
                                    placeholder="Disabled input">

                                <div class="alert alert-danger"
                                    *ngIf="fmRcurso.controls['nombre'].invalid && fmRcurso.controls['nombre'].touched">
                                    <div *ngIf="fmRcurso.controls['nombre'].errors?.['required']">El nombre es
                                        obligatoio </div>
                                    <div *ngIf="fmRcurso.controls['nombre'].errors?.['pattern']">No se aceptan numeros
                                    </div>
                                </div>
                            </div>
-->





                        </fieldset>

                    </form>




                </div>




                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




</body>