<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-1">
                    <div class="carousel-container" style="background-color: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); display: flex; flex-direction: column;">
                        <div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" *ngFor="let imagePath of maquinaria.path; let i = index" [attr.data-bs-target]="'#carouselExample'" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let imagePath of maquinaria.path; let first = first" [class.active]="first">
                                    <div class="image-container" [style.backgroundImage]="'url(' + imagePath + ')'"></div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 order-md-2">
                    <div class="description-container" >
                        <h2>{{ maquinaria.nombre_maquina }}</h2>
                        <p class="lead">{{ maquinaria.descripcion_maquina.substring(0, 200) }}{{ maquinaria.descripcion_maquina.length > 200 ? '...' : '' }}</p>
                        <p class="lead precio" style="font-size: 2.5rem;">{{ maquinaria.precio_hora | currency:'$':'symbol':'1.0-0' }}</p>
                        <p class="lead" *ngIf="maquinaria.modelo_maquina">{{ maquinaria.modelo_maquina }}</p>
                        <div class="d-grid gap-3 col-10 mx-auto">
                            <button type="button" class="btn btn-primary" style="background-color: #d1e7dd; color: #000000; border: none; font-weight: bold;">Reservar</button>
                        </div>
                    </div>
                </div>
                

                <div class="col-md-12 order-md-3" >
                    <div class="calendar-container" >
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
                
                
            </div>
        </div>
    </main>
</body>