
body  {
    border-radius: 10px;
}



.content-title {
    border-radius: 10px 10px 0 0;
    background-color: #45a26b;
}



a.sidebar-link{
    padding: .522rem 0.625rem;;
    color:#000000;
    position: relative;
    display: block; /*  elemto de bloeue líneas separadas*/
    font-size: 0.975rem;
}
