
body {
    background-color: red;
  }
/*
body {
    background: #16222A;
   
    background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);
   
    background: linear-gradient(to bottom, #3A6073, #16222A);
   
}

.invalid-field {
    border-color: red;
}

.error {
    color: red;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}*/


  