<body>
    <div class="wrapper">
        <!-- contenido  -->
        <div class="main">
            <div>
                <div class="contenido de tabla usuarios ">
                    <!-- <app-progress-bar> </app-progress-bar>  -->
                    <div class="contenido">
                        
                        <div class="content-title ">
                            <br>
                            <h3 class="d-flex justify-content-center"> My Inventario</h3>
                            <br>
                        </div>

                        <div class="row g-3 mt-3 mx-3">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="table-success">
                                            <tr>
                                                <th scope="col">id maquinariassss</th>
                                                <th scope="col">Imagen</th>
                                                <th scope="col">Nombre de maquina</th>
                                                <!-- <th scope="col">dueño</th> -->
                                                <!-- <th scope="col">descripcion</th> -->
                                                <th scope="col">Modelo</th>
                                                <th scope="col">Precio (hora) </th>
                                                <th scope="col">Editar</th>
                                                <th scope="col">Inabilitar</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
                                            <!-- <tr *ngFor="let student of res" (click)="selectStudent (student)"> -->
                                            <tr
                                                *ngFor="let estudiante of res | paginate: {itemsPerPage:itemsPerPage, currentPage:paginaActual}; let i =index">
                                                
                                                <!-- <th scope="row">{{estudiante.codigo}}</th> -->
                                                <td>{{estudiante.id_maquinaria}}</td>
                                                <td>
                                                    <div class="image-cropper">
                                                        <img [src]="estudiante.path ? '/assets/image/Ima pruega de registros/Maquinarias/'+ estudiante.path[0] : 
                                                        '/assets/image/no foto1.jpg'" alt="{{estudiante.nombre_maquina}}"  width="50" height="50">

                                                    </div>
                                                </td>
            
                                               
                                                <td>{{estudiante.nombre_maquina}}</td>
                                                <!-- <td>{{estudiante.id_usuario}}</td> -->
                                                <!-- <td>{{estudiante.descripcion_maquina}}</td> -->
                                                <td>{{estudiante.modelo_maquina}}</td>
                                                <td>{{ formatCurrencyValue(estudiante.precio_hora) }}</td>
                                                <!-- <td>{{estudiante. precio_hora}}</td> -->
                                           
                                                

                                                <td>
                                                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
                                                    data-bs-target="#modificar-estudiante">Editar</button>
                                                </td>
                                                <td>
                                                 <button type="button" class="btn btn-danger" >Inabilitar</button> 
                                                </td>
                                            </tr>
                                        </tbody>
            
                                    </table>
                                </div>
                            </div>
            
                            <div class="col-12">
                                <div class="pagination">
                                    <div class="">Pagina {{paginaActual}} de {{totalPaginas}}</div>
                                    <div class=" "><pagination-controls (pageChange)="paginaActual = $event"
                                            [responsive]="true"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

